.header-container {
  height: 8vh;
  background-color: #01AAE5;
  position: fixed;
  width: 96vw;
}

.header {
  color: white;
  font-family: 'Raleway';
  font-size: 60px;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
}

.message-container {
  margin-top: 8vh;
  position: relative;
  height: 80vh;
  overflow-y: scroll;
}

.input-container {
  background-color: #01AAE5;
  height: 8vh;
}
