
.container {
  overflow-y: scroll;
  background-color: purple;
}

.logo {
  background-color: orange;
  display: inline;
}

.welcome {
  background-color: green;
  /*position: absolute;*/
  display: inline-block;
  /*height: 80px;
  right: 0px;*/
}

.sidebar {
  background-color: blue;
  position: inline;
}

/* Header */
.header {
  background-color: gray;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 8vh;
}

.profile-dropdown--container {
  background-color: red;
  position: relative;
  float: right;
  right: 5vw;
  top: 20%;
}
