:global .expanded-body,
:global .collapsed-body {
  position: fixed;
  width: 100vw;
  overflow-y: auto;
}

:global .expanded-body {
  top: 30vh;
  height: 70vh;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

:global .collapsed-body {
  top: 18vh;
  height: 82vh;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

:global div { font-family: 'Open Sans'; }

:global .gray { color: #666; }

:global .orange { color: #FF5F40; }

:global .white { color: white; }

:global .bold { font-weight: 600; }

:global .unstyled { text-decoration: none; }

:global .overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

:global .window {
  display: block;
  height: 96vh;
  width: 96vw;
  position: fixed;
  margin: 0 auto;
  z-index: 100;
  top: 2vh;
  left: 2vw;
  overflow-y: auto;
  text-align: center;
  background-color: white;
  font-size: 40pt;
}

:global .window-close {
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-top: 3%;
}

:global .window button { font-size: 40px; }
