:global .body {
  position: fixed;
  top: 30vh;
  height: 70vh;
  width: 100vw;
  z-index: 1;
  overflow-y: auto;
}

:global div { font-family: 'Open Sans'; }

:global .gray { color: #666; }

:global .orange { color: #FF5F40; }

:global .bold {font-weight: 600; }

