.camera {
  width: 11%;
  position: absolute;
  left: 3%;
  margin-top: 1.4vh;
}

.input-container {
  position: relative;
  width: 63%;
  height: 5vh;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  top: 1.1vh;
  border-radius: 5px;
}

.input {
  width: 90%;
  height: 100%;
  font-size: 50px;
  padding: 1% 5%;
  border: none;
  color: #666;
  font-family: 'Open Sans';
  font-weight: 200;
}

.button {
  position: absolute;
  right: 3%;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin-top: -2.5vh;
}
