.container { margin-top: 3vh; }

.header { font-size: 1.5em; }

.description {
  display: inline-block;
  margin-top: 5px;
  font-size: 1.4em;
  font-weight: 300;
}

.divider {
  margin-top: 3vh;
  height: 1px;
  width: 70vw;
  background-color: #666;
}

.options-container {
  display: inline-block;
  position: absolute;
  margin-left: 10%;
}

.option { margin-top: 5px; }
