.container {
  width: 80vw;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 2px 4px 4px -1px rgba(0,0,0,0.4);
  border-left: 0.5px solid rgba(0,0,0,0.2);
}

.green-container {
  composes: container;
  border-top: 2px solid #5BD998;
}

.blue-container {
  composes: container;
  border-top: 2px solid #01C0E4;
}

.orange-container {
  composes: container;
  border-top: 2px solid #FF5F40;
}

.content-container {
  margin: 0px 30px;
  padding-top: 50px;
}

.header {
  font-size: 40px;
  color: black;
}

.name {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}

.green-name {
  composes: name;
  color: #5BD998;
}

.blue-name {
  composes: name;
  color: #01C0E4;
}

.icon-container { position: absolute; }

.icon { height: 90px; }

.text-container {
  display: inline-block;
  position: relative;
  width: 85%;
  margin-left: 25px;
  left: 90px;
}

.description {
  display: inline-block;
  margin-top: 5px;
  font-size: 35px;
  font-weight: 300;
}

.options-container {
  margin-top: 50px;
  border-top: 0.5px solid #666;
  width: 100%;
}

.option {
  margin-top: 5px;
  padding: 20px 0px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.option-2 {
  composes: option;
  width: 49.5%;
  display: inline-block;
}

.left-option {
  composes: option-2;
  border-right: 1px solid #666;
}

.right-option { composes: option-2; }
