.container {
  margin-top: 3vh;
}

.header {
  font-size: 1.5em;
}

.description {
  margin-top: 5px;
  font-size: 1.4em;
  font-weight: 300;
}

.divider {
  margin-top: 3vh;
  height: 1px;
  width: 70vw;
  background-color: #666;
}
