.container {
  overflow-y: scroll;
  background-color: purple;
}

.sidebar {
  background-color: blue;
  position: inline;
}

/* Header */
.header {
  background-color: #FF5F40;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 8vh;
  z-index: 10;
}

.logo {
  height: 5vh;
  position: relative;
  top: 15%;
  display: inline-block;
  margin-left: 1.2%;
}


.profile-dropdown--container {
  position: relative;
  float: right;
  height: 100%;
  right: 5vw;
  top: 0px;
  color: white;
}

.profile-dropdown--name {
  font-family: 'Open Sans';
  position: relative;
  margin-right: 10px;
  top: 35%;
}

.profile-dropdown--picture--container {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1.5px solid white;
  text-align: center;
  top: 20%;
}

.profile-dropdown--picture {
  top: 25%;
  position: relative;
}

/* Navbar */
.navbar--container {
  height: 92vh;
  width: 5.5vw;
  top: 8vh;
  left: 0;
  background-color: #262A33;
  position: fixed;
  z-index: 10;
}

.navbar {
  margin-top: 8vh;
  text-align: center;
  padding: 0;
}

.navbar--item {
  font-family: 'Open Sans';
  font-size: .9em;
  color: #857377;
  width: 100%;
  display: table;
  margin-bottom: 20px;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.navbar--item--icon {
  display: block;
  margin-bottom: 10px;
}

/* Contaniner */
.body {
  position: fixed;
  top: 8vh;
  left: 5.5vw;
  height: 92vh;
  width: 94.5vw;
  z-index: 1;
}
