body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.header {
    color: white;
    height: 28vh;
    background-color: #FF5F40;
    margin-bottom: 5vh;
    font-size: 32px;
}

.top {
    padding: 3vh 4vw 0 4vw;
}

.top .backArrow{
    float: left;
}

.patientNames {
    padding-top: 2vh;
    padding-bottom: 1vh;
    overflow-x: auto;
    overflow-y: hidden;
    clear: left;
    white-space:nowrap
}

.patientNames::-webkit-scrollbar {
    display: none;
}

.patientNameLink {
    text-decoration: none;
    display: inline-block;
    padding-right: 5vw;
    color: 	#FFFFFF;
}

.header .whiteLine {
    border-bottom: .2vh solid white;
}

.bottom {
    padding: 2vh 6vw 2vh 6vw;
}

.bottom .wrapper {
    display: inline-block;
    vertical-align: middle;
}

.bottom .round{
    float: left;
    display: inline-block;
    width: 9vh;
    height: 9vh;
    overflow: hidden;
    border-radius: 50%;
    border: 4pt solid white;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom .greeting {
    padding-left: 5vw;
    float: left;
    display: inline-block;
    font-size: 70px;
}

.lists {
    max-height: 999999px;
    clear: both;
    padding: 0 6vw 0 6vw;
    color: #575757;
    font-size: 32px;
}

.lists .sectionTitle{
    display: inline-block;
    font-weight: bolder;
}

.lists .sectionTitleRight{
    font-weight: bolder;
    color: #FF5F40;
    float: right;
    text-decoration: none;
}

.lists .emptyText{
    font-size: 28px;
    padding-bottom: 2vh;
}

.greyLine {
    margin: 2vh 0 2vh 0;
    border-bottom: .2vh solid #7C7C7C;
}

.phrSection {
    margin-bottom: 5vh;
}

.phrSection .title {
    float: left;
    word-wrap: break-word;
    max-width: 70%;
}

.phrSection .description {
    float: right;
    max-width: 30%;
}

.phrSection .sideNote {
    clear: both;
    color: #7C7C7C;
}

.container .noteHeader{
    padding: 0 2vw 0 2vw;
    color: white;
    height: 8vh;
    background-color: #FF5F40;
    font-size: 35px;
    width: 100%;
    text-align: center;
}

.container .notePrompt{
    padding-left: 2vw;
    color: #7C7C7C;
    font-size: 35px;
}

.noteHeader p {
    display: inline-block;
    margin: 0;
    font-size: 62px;
    height: 100%;
    line-height: 8vh;
}

.noteHeader .noteButton{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    line-height: 8vh;
    position: absolute;
    right: 0;
    padding-right: 2vw;
}

.container textarea{
    padding: 2vh 2vw 0 2vw;
    text-align: left;
    width: 100vw;
    height: 92vh;
    font-size: 35px;
    border-style: none;
}

.container textarea:focus {
    outline: none !important;
}

.vitalGraph {
    margin: 0 -4vw 0 -4vw;
}

.vitalGraph .selectionBar{
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-bottom: 0.5vh;
}

.vitalGraph .active{
    color: #FF5F40;
    border-bottom: 2px solid #FF5F40;
}


.vitalGraph .dashboard{
    display: inline-block;
    width: 33%;
    height: 10vh;
    text-align: center;
    padding-top: 1vh;
}
