body{
    margin: 0;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.container { width: 100vw }

.header {
    color: white;
    height: 28vh;
    background-color: #FF5F40;
    margin-bottom: 5vh;
    font-size: 32px;
}

.top {
    padding: 3vh 4vw 0 4vw;
}

.top .backArrow{
    float: left;
}

.patientNames {
    padding-top: 2vh;
    padding-bottom: 1vh;
    overflow-x: auto;
    overflow-y: hidden;
    clear: left;
    white-space:nowrap
}

.patientNames::-webkit-scrollbar {
    display: none;
}

.patientNameLink {
    text-decoration: none;
    display: inline-block;
    padding-right: 5vw;
    color: 	#FFFFFF;
}

.header .whiteLine {
    border-bottom: .2vh solid white;
}

.bottom {
    padding: 2vh 6vw 2vh 6vw;
}
.bottom .wrapper {
    display: inline-block;
    vertical-align: middle;
}

.bottom .round{
    float: left;
    display: inline-block;
    width: 9vh;
    height: 9vh;
    overflow: hidden;
    border-radius: 50%;
    border: 4pt solid white;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom .greeting {
    padding-left: 5vw;
    float: left;
    display: inline-block;
    font-size: 70px;
}

.lists {
    max-height: 999999px;
    clear: both;
    padding: 0 6vw 0 6vw;
    color: #575757;
    font-size: 32px;
}

.lists .sectionTitle{
    font-weight: bolder;
}

.lists .emptyText{
    font-size: 28px;
    padding-bottom: 2vh;
}

.greyLine {
    margin: 2vh 0 2vh 0;
    border-bottom: .2vh solid #7C7C7C;
}

.phrSection {
    margin-bottom: 5vh;
}

.phrSection .title {
    float: left;
    word-wrap: break-word;
    max-width: 70%;
}

.phrSection .description {
    float: right;
    max-width: 30%;
}

.phrSection .sideNote {
    clear: both;
    color: #7C7C7C;
}
