.container {
  background-color: #FF5F40;
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 23vh;
}

.logo-container {
  margin-top: 1vh;
  text-align: center;
}

.logo {
  height: 5vh;
  position: relative;
  top: 15%;
  display: inline-block;
}

.button-container {
  width: 100vw;
}

.icon {
  position: absolute;
  color: white;
}

.icon img {
  height: 7vh;
  float: left;
}

.settings {
  composes: icon;
  float: left;
  margin-left: 10px;
}

.phr {
  composes: icon;
  float: right;
  right: 0px;
  margin-right: 10px;
}
