.container {
  height: 92vh;
  width: 5.5vw;
  top: 8vh;
  left: 0;
  background-color: #262A33;
  position: fixed;
  z-index: 10;
}

.navbar {
  margin-top: 8vh;
  text-align: center;
  padding: 0;
}

.item {
  font-size: .9em;
  color: #857377;
  width: 100%;
  display: table;
  margin-bottom: 20px;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.icon {
  display: block !important;
  margin-bottom: 10px;
}
