.container {
  height: 7vh;
  width: 100vw;
  left: 0;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid #666;
}

.expanded-container {
  composes: container;
  top: 23vh;
}

.collapsed-container {
  composes: container;
  top: 10vh;
}

.navbar {
  margin-top: 8vh;
  text-align: center;
  padding: 0;
}

.link-container {
  display: inline-block;
  width: 49.5%;
  height: 100%;
  text-align: center;
}

.link {
  position: relative;
  display: inline-block;
  top: 30%;
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: none;
  color: #FF5F40;
}

.divider {
  position: absolute;
  display: inline-block;
  top: 20%;
  height: 60%;
  width: 1px;
  background-color: #FF5F40;
}
