.header {
  background-color: #FC5E48;
  color: white;
  text-align: center;
  font-size: 50px;
  width: 100vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.back {
  position: absolute;
  left: 3vw;
  color: white;
}

.logout-container { text-align: center; }

.logout {
  margin-top: 5vh;
  height: 8vh;
  width: 85vw;
  font-size: 50px;
  background-color: #FC5E48;
  color: white;
  border-radius: 10px;
}
